.cube {
  @keyframes cube-animation-levitate-bottom {
    0% {
      top: 54%;
    }

    50% {
      top: 58%;
    }

    100% {
      top: 54%;
    }
  }

  @keyframes cube-animation-close-bottom {
    0% {
      top: 54%;
    }

    100% {
      top: -1%;
    }
  }

  @keyframes cube-animation-levitate-top {
    0% {
      top: -45%;
    }

    50% {
      top: -49%;
    }

    100% {
      top: -45%;
    }
  }

  @keyframes cube-animation-close-top {
    0% {
      top: -45%;
    }

    100% {
      top: 0%;
    }
  }

  @keyframes cube-animation-flickering-start {
    0% {
      background-color: rgba($color-contrast, .0);
    }

    100% {
      background-color: rgba($color-contrast, .1);
    }
  }

  @keyframes cube-animation-flickering {
    0% {
      filter: blur(30px);
      background-color: rgba($color-contrast, .1);
    }

    50% {
      filter: blur(50px);
      background-color: rgba($color-contrast, .3);
    }

    100% {
      filter: blur(30px);
      background-color: rgba($color-contrast, .1);
    }
  }

  position: relative;
  z-index: 0;

  background-image: url('../assets/imgs/logo-array-dots-middle.png');
  background-position: 50% 57%;
  background-repeat: no-repeat;

  &:before {
    position: absolute;
    content: '';
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color-contrast, .0);
    border-radius: 100%;
    z-index: -1;
    filter: blur(35px);
  }

  &[data-animation-process="closing"]:before {
    animation-name: cube-animation-flickering-start;
    background-color: rgba($color-contrast, .0);
    animation-delay: .1s;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }

  &[data-animation-process="closed"]:before {
    animation-name: cube-animation-flickering;
    background-color: rgba($color-contrast, .1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  &__logotype {
    visibility: hidden;
  }

  .no-js &__logotype {
    visibility: visible;
  }

  &__part {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    left: 0;
    top: 0;

    &--top {
      top: 0;
      background-image: url('../assets/imgs/logo-array-dots-top.png');
      background-position: 50% 0;
    }

    &--bottom {
      top: -1%;
      background-image: url('../assets/imgs/logo-array-dots-bottom.png');
      background-position: 50% 100%;
    }
  }

  &[data-animation-process="open"] &__part--bottom {
    top: 54%;
    animation-name: cube-animation-levitate-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  &[data-animation-process="open"] &__part--top {
    top: -45%;
    animation-name: cube-animation-levitate-top;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
  }

  &[data-animation-process="closing"] &__part--bottom {
    top: -45%;
    animation-name: cube-animation-close-bottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  &[data-animation-process="closing"] &__part--top {
    top: 54%;
    animation-name: cube-animation-close-top;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  &[data-animation-process="opening"] &__part--bottom {
    top: -45%;
    animation-name: cube-animation-close-bottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }

  &[data-animation-process="opening"] &__part--top {
    top: 54%;
    animation-name: cube-animation-close-top;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }
}
