.features {
  overflow: hidden;

  &__nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 25px;
    width: 100%;
  }

  &__link {
    display: inline-block;

    margin: 9px;
    padding: 4px 14px;

    transition: color .3s ease-in, border-color .3s ease-in;
    text-decoration: none;

    color: rgba(white, .75);
    border: 1px solid rgba(white, .25);
    border-radius: 4px;

    line-height: 26px;

    @include make-ff-nova(18px);

    &:hover {
      transition: color .05s ease-in, border-color .05s ease-in;

      color: rgba($color-contrast, .9);
      border-color: rgba($color-contrast, .25);
    }

    &:active {
      transition: color .05s ease-in, border-color .05s ease-in;

      color: rgba($color-dark, .9);
      border-color: rgba($color-dark, .9);
      text-shadow: 0px 0px 3px rgba(255, 255, 255, .15);
    }
  }

  &__item {
    padding: 75px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -75px;

    &--align {
      &--center {
        align-items: center;
      }
    }

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__caption {
    margin: 0px 35px;
    max-width: 800px;

    &--p {
      &--right {
        padding-right: 250px;
      }

      &--left {
        padding-left: 250px;
      }
    }
  }

  &__video {
    width: 60%;
    margin: 0 0 0 40px;

    @media (min-width: 1800px) {
      width: 40%;
    }
  }

  &__heading {
    margin-top: 10px;
    margin-bottom: 25px;
    color: white;

    @include make-ff-nova(24px);

    &--align {
      &--right {
        text-align: right;
      }
    }
  }

  &__paragraph {
    margin: 15px 0;
    color: white;
    line-height: 1.5;
    text-align: justify;
    white-space: pre-line;

    @include make-ff-nova(18px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    position: relative;

    display: block;

    min-width: 250px;
    min-height: 250px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;

    border: 1px solid rgba($color-contrast, .3);

    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 5px -1px rgba(94, 166, 251, 0.3), inset 0 0 5px -1px rgba(94, 166, 251, 0.3);

    &:before {
      position: absolute;
      z-index: -1;
      top: 50%;

      display: none;

      width: 165px;
      height: 165px;

      content: '';
      transform: translate(-50%, -50%);

      border-radius: 100%;
      background-color: rgba(249, 249, 249, .2);

      filter: blur(25px);
    }

    &--core {
      background-image: url('../assets/imgs/icon-content-core.png');
      background-position: center center;

      &:before {
        left: 50%;

        display: block;
      }
    }

    &--vm {
      background-image: url('../assets/imgs/icon-content-vm.png');
      background-position: center calc(50% + 10px);


      &:before {
        top: 45%;
        left: 50%;

        display: block;

        transform: translate(-50%, -50%);

        filter: blur(35px);
      }
    }

    &--keys {
      background-image: url('../assets/imgs/icon-content-keys.png');
      background-position: center center;

      &:before {
        left: 50%;

        display: block;

        filter: blur(40px);
      }
    }
  }
}
