.footer {
  background-color: $color-dark;
  border-top: 1px solid rgba(white, .25);

  &__heading {
    color: white;
    margin: 0px 0px 40px;

    @include make-ff-nova(24px);
  }

  &__request {
    max-width: 400px;
  }
}
