.hero {
  &__logo {
    flex: 0 0 500px;

    height: 366px;
    max-height: 366px;

    -webkit-user-select: none;

    background-image: url(../assets/imgs/array-logo-bg-dark.png),url(//github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-sides-23cd4a2a6bbfb703ce97c8c72be4a30c.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 195px auto, auto, auto;
    @keyframes hero-logo-circle{
      100%{
        transform:rotate(1turn);
      }
    }

    &-circles {
      position: relative;

      width: 366px;
      height: 366px;
      margin: auto;
    }

    &-circle {
      position: absolute;
      top: 0;
      left: 0;

      animation: hero-logo-circle 1s linear infinite;
      animation-duration: 1s;

      will-change: transform;

      &:nth-child(1){animation-duration:30s}
      &:nth-child(2){animation-duration:40s}
      &:nth-child(3){animation-duration:50s}
      &:nth-child(4){animation-duration:60s}
      &:nth-child(5){animation-duration:70s}
      &:nth-child(6){animation-duration:80s}
      &:nth-child(7){animation-duration:90s}
      &:nth-child(8){animation-duration:100s}
      &:nth-child(9){animation-duration:110s}
      &:nth-child(10){animation-duration:120s}
    }
  }

  &__header {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    @media (min-width: 1200px) and (max-height: 1000px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__download {
    width: 250px;
    display: inline-flex;
    flex-direction: column;

    margin: 4em 0 0 0;
    padding: 0;

    list-style: none;

    border: 1px solid $border-color;
    border-radius: 20px;

    @include bp-up('xl') {
      width: auto;
      flex-direction: row;
    }

    @media (min-width: 1200px) and (max-height: 1000px) {
      width: 250px;
      margin-top: 0;
      margin-left: 50px;
      flex-direction: column;
    }

    & li {
      padding: 1em;

      @include bp-up('xl') {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
      }

      &:first-child {
        padding: 2em 1em;
      }
    }

    & li + li {
      border-top: 1px solid $border-color;

      @include bp-up('xl') {
        width: auto;
        border-top: none;
        border-left: 1px solid $border-color;
      }

      @media (min-width: 1200px) and (max-height: 1000px) {
        border-left: 0;
        border-top: 1px solid $border-color;
      }
    }

    & .version {
      display: block;
      font-size: 1.4em;
      line-height: 2rem;
      letter-spacing: .15em;
      font-weight: 500;
    }

    & .platform {
      display: block;
      font-size: 1.4em;
      line-height: 2rem;
      letter-spacing: .05em;
    }

    & .btn {
      width: 100%;
    }
  }

  &__meta {
    display: block;
    margin: 2rem 0 0 0;
    width: 100%;

    a + a {
      margin-left: 2rem;
    }
  }

  &__terms {
    display: inline-flex;
    margin-bottom: 2rem;

    span {
      &:not(:first-child) {
        margin-left: 20px;
        list-style: circle;
      }
    }
  }


  &__features {
    margin-top: 200px;
  }

  &__tagline {
    font-size: 2.4em;
    margin: 0 0 .5em 0;
    font-weight: 300;

    &-highlight {
      color: $navbar-color-hover;
    }
  }

  &__link {
    display: inline-block;
    margin: 0.5em;
    padding: .25em .75em;
    font-size: 1.1em;
    color: $navbar-color-hover;
    border: 1px solid $border-color;
    border-radius: .25em;

    &:hover {
      color: darken($navbar-color-hover, 10%);
    }

    &:active {
      color: darken($navbar-color-hover, 15%);
    }
  }
}
