.ido {
  min-height: 206px;

  @keyframes more-block-animation-forward {
    0% {
      height: 0;
    }

    100% {
      height: 100%;
    }
  }

  @keyframes more-block-animation-reverse {
    0% {
      height: 100%;
      display: block;
    }

    99% {
      display: block;
      height: 0;
    }

    100% {
      display: none;
    }
  }

  &__more {
    display: none;
    border-radius: 7px;
    max-width: 955px;
    margin: 35px auto 0;
    background-image: linear-gradient(to right, #1e395c, #1e395c);
    box-shadow: 0px 0px 5px 6px rgba(94, 166, 251, 0.4);
    position: relative;
    text-align: justify;

    cursor: pointer;

    &-wrapper {
      overflow: hidden;
      height: 100%;
      padding: 0 30px;
    }

    &[data-visible="true"] {
      display: block;
    }

    &[data-visible="false"] {
      display: none;
    }

    &:before {
      display: block;
      width: 42px;
      height: 36px;
      content: '';
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translate(-50%, -100%);
      background-image: url("../assets/imgs/ido-icon-more.png");
    }
  }

  &__paragraph {
    display: block;
    letter-spacing: -0.8px;
    line-height: 1.5;
    color: #e0e0e0;
    margin: 20px 0;

    @include make-ff-nova(18px);

    &[data-visible="false"] {
      display: none;
    }

    &--align {
      &--center {
        text-align: center;
      }

      &--justified {
        text-align: justify;
      }
    }

    &--mg {
      &--sides {
        margin-right: 60px;
        margin-left: 60px;

        @include respond-to(md) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }

  &__btn {
    display: inline-block;
    text-decoration: none;
    position: relative;
    z-index: 0;
    color: white;
    border-radius: 3px;
    transition: box-shadow .3s ease-in;
    box-shadow: 0px 0px 30px 15px rgba(255, 255, 255, 0.1), 0px 0px 10px 7px rgba(255, 255, 255, 0.05);

    &:before {
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      position: absolute;
      top: -2px;
      left: -2px;
      border-radius: 3px;
      z-index: -1;
      background-image: linear-gradient(to top, $color-light, $color-contrast);
      content: '';
      opacity: 1;
      box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
      transition: all .3s ease-in;
    }

    &:active {
      box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0), 0px 0px 15px 10px transparent;
      transition: box-shadow .02s ease-in;

      &:before {
        box-shadow: inset 0px 2px 0.79px 0.21px rgba(0, 0, 0, 0.24);

        opacity: 0;
        transition: all .02s ease-in;
      }
    }

    @include make-ff-nova(20px);

    &[data-visible="false"] {
      display: none;
    }

    &-container {
      text-align: center;
      margin-top: 25px;
    }

    &-text {
      display: inline-block;
      line-height: 32px;
      border-radius: 3px;
      padding: 0px 15px;
      transition: all .3s ease-in;
      min-width: 140px;
      background-color: #304463;
    }

    &:active &-text {
      transition: all .02s ease-in;
      background-color: rgb(2, 19, 48);
    }
  }

  &__heading {
    text-align: center;
    color: #e0e0e0;
    @include make-ff-nova(24px);
  }
}
