.instruction {
  &__heading {
    margin: 0;
  }

  &__link {
    display: inline-flex;
    align-items: center;

    text-decoration: none;
    letter-spacing: -0.8px;

    color: #e0e0e0;

    line-height: 30px;

    cursor: pointer;

    @include make-ff-nova(18px);

    &-container {
      text-align: center;
    }

    &-icon {
      position: relative;
      font-size: 0;
      display: inline-block;
      width: 27px;
      height: 100%;

      margin: 0 10px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';
        transition: opacity .3s ease-in;

        opacity: 0;
        background-image: url('../assets/imgs/icon-question-mark-white.png');
        background-repeat: no-repeat;
        background-size: auto;
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';
        transition: opacity .3s ease-in;

        opacity: 1;
        background-image: url('../assets/imgs/icon-question-mark.png');
        background-repeat: no-repeat;
        background-size: auto;

      }
    }

    &:hover &-icon:after {
      transition: opacity .1s ease-in;

      opacity: 0;
    }

    &:hover &-icon:before {
      transition: opacity .1s ease-in;

      opacity: 1;
    }
  }


  &__paragraph {
    display: block;
    letter-spacing: -0.8px;
    line-height: 1.3;
    color: #e0e0e0;
    margin: 20px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include make-ff-nova(18px);

    &--align {
      &--center {
        text-align: center;
      }
    }
  }

  &__guideline {
    @keyframes guideline-modal {
      0% {
        opacity: 0;
        top: 25%;
      }

      100% {
        opacity: 1;
        top: 40%;
      }
    }

    display: flex;
    // display: none;
    flex-flow: row nowrap;
    align-items: center;
    width: 710px;
    margin: 25px 0 0;

    border: 1px solid rgb(77, 89, 161);
    border-radius: 4px;
    background-color: rgb(4, 20, 46);
    box-shadow: 0px 0px 5px 5px #193359, 0px 0px 13px 7px rgba($color-contrast, .2);

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .no-js & {
      display: none;
    }

    &[data-modal-state="opening"] {
      opacity: 0;
      display: flex;
      top: 25%;
      animation-name: guideline-modal;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }

    &[data-modal-state="open"] {
      top: 40%;
      display: flex;
      opacity: 1;
    }

    &[data-modal-state="closing"] {
      opacity: 1;
      top: 40%;
      display: flex;
      animation-name: guideline-modal;
      animation-direction: reverse;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }

    &[data-modal-state="closed"] {
      display: none;
    }
  }

  &__steps {
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__btn {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    line-height: 30px;
    min-width: 18.3%;
    color: white;
    cursor: pointer;

    @include make-ff-nova(18px)

    &:active {
      padding: 0;
    }

    &--left {
      margin-left: 20px;
      padding-left: 20px;

      text-align: left;

      background-image: url('../assets/imgs/icon-modal-arrow-prev.png');
      background-repeat: no-repeat;
      background-position: left calc(50% + 2px);
      background-size: auto;

      &:active {
        padding-left: 20px;
      }
    }

    &--right {
      padding-right: 20px;
      text-align: right;
      margin-right: 20px;

      background-image: url('../assets/imgs/icon-modal-arrow-next.png');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: right calc(50% + 2px);

      &:active {
        padding-right: 20px;
      }
    }
  }

  &__heading {
    text-align: center;
    color: #e0e0e0;
    @include make-ff-nova(24px);
  }
}
