.nav {
  background-color: $color-contrast;
  border: solid 1px #4d59a1;
  box-shadow: 0 0 20px 15px rgba(94, 166, 251, 0.1), 0 0 15px 10px rgba(94, 166, 251, 0.1), 0 0 10px 5px rgba(94, 166, 251, 0.2);

  &__content {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin: 0px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    padding: 0px 12px;

    transition: color .3s ease-in, text-shadow .3s ease-in;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.9px;

    color: #ffffff;
    text-shadow: 0 0 3px rgba(94, 166, 251, 0), 0 0 7px rgba(94, 166, 251, 0);

    line-height: 1;
    min-height: 60px;
    display: inline-flex;
    align-items: center;

    @include make-ff-nova(18px, 400);

    &:hover {
      transition: color .05s ease-in, text-shadow .05s ease-in;

      color: $color-dark;
    }

    &:active {
      transition: color .05s ease-in, text-shadow .05s ease-in;
      color: $color-light;
    }
  }
}
