.pros {
  &__heading {
    color: #e0e0e0;
    margin: 0 0 10px;
    text-shadow: 0 0 2px rgba(74, 131, 209, 1), 0 0 5px rgba(74, 131, 209, 1), 0 0 10px rgba(74, 131, 209, 1);

    @include make-ff-nova(24px);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__item {
    width: 46%;
    margin: 30px 0;
    text-align: left;
    padding-left: 80px;
    background-size: 60px auto;
    background-position: left top;
    background-repeat: no-repeat;
    text-align: justify;

    &--cross {
      background-image: url('../assets/imgs/icon-pros-cross.png');
    }

    &--key {
      background-image: url('../assets/imgs/icon-pros-key.png');
      background-size: 54px auto;
    }

    &--server {
      background-image: url('../assets/imgs/icon-pros-server.png');
    }

    &--cube {
      background-image: url('../assets/imgs/icon-pros-cube.png');
    }

    @include respond-to(md) {
      width: 100%;
    }

    &-name {
      color: #e0e0e0;

      @include make-ff-nova(18px, 500);
      margin: 0 0 5px;
    }

    &-paragraph {
      color: #e0e0e0;
      margin: 0;

      @include make-ff-nova(18px);
    }
  }
}
