.snippet {
  overflow: auto;

  margin: 0 0 35px;
  padding: 0;

  border-radius: 3px;
  background-color: $color-contrast;

  &:last-child {
    margin: 0;
  }

  &__content {
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    hyphens: none;
  }

  &__line {
    display: block;

    margin: 8px 12px;

    color: black;

    font-family: monospace;
    font-size: 14px;
  }
}
