.step {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: 15px 8px;
  margin: 5px 10px;

  &__paragraph {
    margin-top: 0;
    margin-bottom: 28px;
    text-align: center;

    color: white;

    line-height: 1;

    @include make-ff-nova(16px);

    &:last-child {
      margin-bottom: 0;
    }

    &--margin {
      &--sm {
        margin-bottom: 7px;
      }
    }
  }

  &__snippet {
    max-width: 100%;
  }

  &__emphasis {
    color: $color-contrast;
  }
}
