<div class="container section about">
  <div class="row">
    <div class="col-12 section__content">
      <ul class="about__list">
        <li class="about__item about__item--top">
          <span class="about__text">
            A combination of a blockchain backed by the Delegated Proof-of-Stake consensus algorithm and the support for smart contracts
          </span>
        </li>
        <li class="about__item about__item--middle">
          <span class="about__text">
            Offers an extensive toolkit that simpliﬁes the creation and deployment of DApps
          </span>
        </li>
        <li class="about__item about__item--bottom">
          <span class="about__text">
            A marketplace with a user-friendly lite client that breaks down the entry barriers for regular users into the world of decentralized applications
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
