<div class="container section features">
  <div class="row section__content">
    <nav class="col-12 features__nav">
      <a href="#core" class="features__link">Array.IO Core</a>
    </nav>

    <div class="features__item">
      <div class="features__icon"></div>
      <div class="features__caption">
        <h3 class="features__heading">Array.IO Core</h3>

        <p class="features__paragraph"> The Core is the undercurrent power that runs deep in any system and defines its capabilities. We’ve made speed and convenience our priorities. That is why our blockchain is based on DPoS (Delegated Proof-of-Stake) consensus algorithm that allows faster transactions and has the innate support for smart contracts written in Solidity. This way our blockchain confirms transactions faster, hence it executes contracts faster, as well as it brings blockchain technology closer to the real world use.</p>
      </div>
    </div>
  </div>
</div>
