<div class="navbar navbar--footer{{ ' navbar--' + page if page }} container-fluid">
  <div class="wrapper">
    {% if page != 'home' %}
      <a class="navbar__logo" href="index.html"><img src="assets/imgs/array-logo-wordmark.png" width="120" height="21.6" alt=""></a>
    {% endif %}

    <ul class="navbar__nav">
      <li>
        <a href="index.html#features">Features</a>
      </li>
      <li>
        <a href="index.html#ido">IDO</a>
      </li>
      <li>
        <a href="index.html#witness">Witness</a>
      </li>
      <li>
        <a href="index.html#contact">Contact</a>
      </li>
    </ul>

    <div class="navbar__logout">
      <a href="#top">Go up ↑</a>
    </div>
  </div>
</div>
