{% import "partials/social-icons.njk" as icons %}
{% import "partials/input-request.njk" as request %}

<div id="section-contact" class="container-fluid footer section">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <footer class="row section__content justify-content-between">
          {# <div class="col-12 col-md-4 footer__logotype">
            <img src="assets/imgs/logo-array-250.png" alt="Array Logotype" width="160" height="167">
          </div> #}

          <div class="col-12 col-md-6 footer__contacts">
            {% set socials = datasets.get('socials') %}

            <h2 class="footer__heading">
              Keep in touch
            </h2>

            <ul class="socials footer__socials">
              {% for item in socials %}
              <li>
                <a class="socials__link" href="{{ item.ref }}"><span class="socials__icon">{{ icons.make(item.icon) }}</span><span class="socials__name">{{ item.name }}</span></a>
              </lu>
              {% endfor %}
            </ul>

          </div>

          <div class="col-12 col-md-6 footer__tuned">
            <h2 class="footer__heading">
              Stay tuned
            </h2>

            <div class="footer__subscription">
              <div class="footer__request">
                {{ request.make('request--default') }}
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
