{% set links = datasets.get('site-map') %}

<div class="container-fluid header">
  <div class="row">
    <div class="col-12">
      <header class="container">
        <div class="row">
          <div class="col-12">

            <ul class="header__nav">
              {% for link in links %}
              <li class="header__item">
                <a data-smooth-scroll class="header__link" href="{{ link.ref }}">{{ link.name }}</a>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </header>
    </div>
  </div>
</div>
