<div class="ido">
  <h2 class="ido__paragraph ido__paragraph--align--center">IDO  (Initial Development Offering)</h2>
  <p id="ido-less" data-visible="true" class="ido__paragraph ido__paragraph--align--center">A novel blockchain project requires not only the cutting-edge development ideas, but also the right attitude to fundraising. Initial Development Oﬀering, or IDO, is an innovative approach to attract investments, that is deemed fair for all parties involved. Although it has some features of the ICO (i.e. the distribution of tokens among the project backers in return for their ETH), the core ideas of IDO are quite different.</p>

  <div data-visible="false" data-toggle-on='["ido-toggle-btn", "ido-less"]' id="ido-more" class="ido__more">
    <div class="ido__more-wrapper">
      <p class="ido__paragraph">
        Unlike the ICOs that present a completely unrealistic roadmap and request to have all the resources in advance, IDO’s funding model is designed to be more adaptive to the realities of the software development process and catering to both the contributors’ desires and the project team.
      </p>

      <p class="ido__paragraph">
        Our funding model introduces the concept of Token Generation Rounds (TGRs). Stages of a TGR are equally spaced time intervals that determine the split percentage of the minted IDO tokens according to a simple principle: “The later the stage, the larger the contributor’s share”. Price-wise it means that ‘early birds’ get less tokens for the same amount of contribution, which might make the investor wait for the last stage. However, the investors are motivated to get into the project early on since TGRs have a maxcap that could be hit at any time, closing the whole round.
      </p>

      <p class="ido__paragraph">
        Unlike ICO, initial development tokens are refundable by unlocking the same amount of ETH which is then transferred back to the account that initiated the return. A particular part of the tokens can be exchanged back (burned) to retrieve the funds.
      </p>

      <p class="ido__paragraph">
        Array.io is the first project to be funded through the IDO. We believe that at the moment it is the perfectly responsible way of fundraising, and in the future will become the common practice for attracting investments not only in blockchain projects but overall in software development.
      </p>
    </div>
  </div>

  <div class="ido__btn-container">
    <a id="ido-toggle-btn" data-visible="true" data-toggle-off='["ido-less"]' data-toggle-on='["ido-more"]' href="#ido-more" class="ido__btn"><span class="ido__btn-text">learn more</span></a>
  </div>
</div>
