<form class="request" action="/" method="post">
  <div class="request__container">
    <input class="request__input" type="email" name="email" required placeholder="Your Email">
    <button class="request__submit" type="submit">Subscribe</button>
  </div>

</form>
