{% import 'partials/snippet.njk' as snippet %}

<div class="instruction">
  <h2 class="instruction__paragraph instruction__paragraph--align--center">Become a Witness</h2>
  <p class="instruction__paragraph instruction__paragraph--align--center">Delegated Proof of Stake consensus algorithm requires validation of blocks by special nodes we call Delegates. DPoS is significantly faster and less prone to cartelization than Proof of Work algorithm. You have the opportunity to become an Array Witness and later a Delegate who validates new blocks.</p>

  <div class="ido__btn-container">
    <a data-modal-toggler="instruction-modal" href="#" class="ido__btn"><span class="ido__btn-text">learn how</span></a>
  </div>

  <div id="instruction-modal" class="instruction__guideline">
    <button id="instruction-steps-prev" type="button" class="instruction__btn instruction__btn--left">previous step</button>

    <div id="instruction-steps" class="swiper-container">

      <ul class="swiper-wrapper instruction__steps">
        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">Install array-io node software</p>

            <p class="step__paragraph">
              <a href="//github.com/arrayio/array-io-newton" class="link">
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32.58 31.77">
                  <path fill-rule="evenodd" d="M16.29,0a16.29,16.29,0,0,0-5.15,31.75c.81.15,1.11-.35,1.11-.79s0-1.41,0-2.77C7.7,29.18,6.74,26,6.74,26a4.31,4.31,0,0,0-1.81-2.38c-1.48-1,.11-1,.11-1a3.42,3.42,0,0,1,2.5,1.68,3.47,3.47,0,0,0,4.74,1.35,3.48,3.48,0,0,1,1-2.18C9.7,23.08,5.9,21.68,5.9,15.44a6.3,6.3,0,0,1,1.68-4.37,5.86,5.86,0,0,1,.16-4.31s1.37-.44,4.48,1.67a15.44,15.44,0,0,1,8.16,0c3.11-2.11,4.48-1.67,4.48-1.67A5.85,5.85,0,0,1,25,11.07a6.29,6.29,0,0,1,1.67,4.37c0,6.26-3.81,7.63-7.44,8a3.89,3.89,0,0,1,1.11,3c0,2.18,0,3.93,0,4.47s.29.94,1.12.78A16.29,16.29,0,0,0,16.29,0Z" data-name="Layer 1"></path>
                </svg>
                <span class="link__text">GitHub</span>
              </a>
            </p>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">If you’re using  MacOS, run the following command to ensure that you have everything a Linux user has.</p>

            {% set lines = ['$ cmake -DLINUX_SIGACTION_SIGSEGV=DISABLE ..']%}

            {{ snippet.make(lines, 'step__snippet') }}
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">You should be able to spawn four threads. Alternatively, if you process with eight cores, you can make eight threads. Choose it according to your core/CPU environment, so that it works efficiently.</p>

            {% set lines = ['$ make -j4']%}

            {{ snippet.make(lines, 'step__snippet') }}
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">Connect to ‘newton.array.io’ and create a wallet with a chain ID. After the build you will get access the ‘programs’ directory which contains CliWallet and WitnessNode.</p>

            {% set lines = ['$ ./programs/cli_wallet/cli_wallet -s ws://newton.array.io:8090 --chain-id b6b83a593686087531ce581540564d20b2f75ff9879e9dd2eccfa9a79744b949']%}

            {{ snippet.make(lines, 'step__snippet') }}
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">You’re almost there! Create a password for your brand-new wallet and unlock it. You will know that you’ve done this when the line says ‘unlocked’ instead of ‘locked’.</p>

            {% set lines = ['locked >>> set_password secret-password-here', 'locked >>> unlock secret-password-here', 'unlocked >>>']%}

            {{ snippet.make(lines, 'step__snippet') }}
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph step__paragraph--margin--sm">Congrats! You have unlocked your wallet.</p>
            <p class="step__paragraph step__paragraph--margin--sm">Now you can send us your account name and your public key, so that we could register your account.</p>
            <p class="step__paragraph step__paragraph--margin--sm">To complete the registration of your account, you need to have some money in it.</p>
            <p class="step__paragraph">We grant you <span class="step__emphasis">10000 RAY</span> to get you started</p>

            <p class="step__paragraph">
              <a href="//github.com/arrayio/array-io-newton/issues/new?title=I%20want%20to%20become%20a%20witness" class="link">
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32.58 31.77">
                  <path fill-rule="evenodd" d="M16.29,0a16.29,16.29,0,0,0-5.15,31.75c.81.15,1.11-.35,1.11-.79s0-1.41,0-2.77C7.7,29.18,6.74,26,6.74,26a4.31,4.31,0,0,0-1.81-2.38c-1.48-1,.11-1,.11-1a3.42,3.42,0,0,1,2.5,1.68,3.47,3.47,0,0,0,4.74,1.35,3.48,3.48,0,0,1,1-2.18C9.7,23.08,5.9,21.68,5.9,15.44a6.3,6.3,0,0,1,1.68-4.37,5.86,5.86,0,0,1,.16-4.31s1.37-.44,4.48,1.67a15.44,15.44,0,0,1,8.16,0c3.11-2.11,4.48-1.67,4.48-1.67A5.85,5.85,0,0,1,25,11.07a6.29,6.29,0,0,1,1.67,4.37c0,6.26-3.81,7.63-7.44,8a3.89,3.89,0,0,1,1.11,3c0,2.18,0,3.93,0,4.47s.29.94,1.12.78A16.29,16.29,0,0,0,16.29,0Z" data-name="Layer 1"></path>
                </svg>
                <span class="link__text">Send request</span>
              </a>
            </p>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">Generate a key pair</p>

            {{ snippet.make(['>> suggest_brain_key'], 'step__snippet') }}

            <p class="step__paragraph">You will get an output of this kind:</p>

            {% set lines = ['{', '  "brain_priv_key": "VOLET BUZZING BLASTID QUOITS RALPH WHIBA VAGUITY SONLIKE OUTGROW MISBORN CLOTBUR FRIZZER TONG DAND CARTER VERVAIN",', '  "wif_priv_key": "5KaGG9t31Ajmgkm1Y8ymHDGL4czn2Su2jbjKHoYy2fYkNSPjCM7",', '  "pub_key": "RAY5T5D5p3Cddo97tTA1d1iSKxHEMazthLtyUpiLpXu8rLYVyHxrH"', '}']%}

            {{ snippet.make(lines, 'step__snippet') }}
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph"><span class="step__emphasis">Memorize</span> the private key! It will be linked to the account that we create for you.</p>
            <p class="step__paragraph"><span class="step__emphasis">Note: </span>The hash from the brain key gives you a private key. The hash of that hash produces a public key. If you lose a public key, you can get it from your private key. If you lose a private one, it can be accessed through the brain key.</p>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">Now you need to import your private key:</p>

            {{ snippet.make(['>> import_key my-very-new-account <your private here> '], 'step__snippet') }}
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">To check the balance in all your accounts, you can do the following:</p>

            {{ snippet.make(['unlocked >>> list_account_balances my-very-new-account, 1 '], 'step__snippet') }}
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">You’ve nailed it! With a functioning account, it is easy to become a witness. Here is how you can do that:</p>

            {{ snippet.make(['unlocked >>> create_witness my-very-new-account "https://flacon.array.io" true '], 'step__snippet') }}
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">To get private keys for your witness, you should do</p>

            {{ snippet.make(['>> dump_private_keys '], 'step__snippet') }}
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">To see the history of all the actions, simply type:</p>

            {{ snippet.make(['unlocked >>> get_account_history flacon, 10 '], 'step__snippet') }}
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">You can vote for your witness:</p>

            {{ snippet.make(['unlocked >>> vote_for_witness my-very-new-account true '], 'step__snippet') }}
          </div>
        </li>

        <li class="swiper-slide">
          <div class="step instruction__step">
            <p class="step__paragraph">To complete the process, you need to type in the following line. It is supposed to present all the information on your account that you have in the witness node.</p>

            {{ snippet.make(['$ LC_ALL=C ./witness_node --data-dir=./newton --genesis-json=newton/main_genesis.json --rpc-endpoint=127.0.0.1:8090 --api-access=newton/api-access.json --witness-id \'"1.5.22"\' --private-key \'["RAY5xMr8JuFtDHCZ7wjKGUYksdsXREfcpxxcojjT371Qeo1F3MARL","5KbUiwxz2uh4tmcfaUKo1SVPrxg9MkxYJnqP2sYjchdTdSozZ6R"]\' '], 'step__snippet') }}
          </div>
        </li>
      </ul>

    </div>

    <button id="instruction-steps-next" type="button" class="instruction__btn instruction__btn--right">next step</button>

  </div>
</div>
