{% import "partials/input-request.njk" as request %}

<div class="container section jumbotron">
  <div class="row section__content">
    <div class="col-12 jumbotron__content">
      {% set logo = assets['logotype-jumbotron'] %}

      <div data-animation-process-name="cube" data-animation-process="closed" class="jumbotron__cube cube">
        <span class="cube__part cube__part--top"></span>
        <img class="jumbotron__logotype cube__logotype" src="{{ logo.ref }}" alt="{{ logo.alt }}" width="{{ logo.width }}" height="{{ logo.height }}">
        <span class="cube__part cube__part--bottom"></span>
      </div>


      <ul class="jumbotron__download download">
        <li class="download__item download__heading">
          {% set logo = assets['logotype-download'] %}

          <div class="download__logotype">
            <img src="{{ logo.ref }}" alt="{{ logo.alt }}" width="{{ logo.width }}" height="{{ logo.height }}">
          </div>
        </li>

        <li class="download__item">
          <p class="download__paragraph download__paragraph--release">
            open-source platform release Q4 2018
          </p>
        </li>

        <li class="download__item">
          {% set litepaper = assets['litepaper'] %}

          <a href="{{ litepaper.ref }}" class="link link--glass download__litepaper"><span class="link__icon link__icon--download"></span><span class="link__name">Litepaper</span></a>
        </li>
        <li class="download__item">
          {{ request.make('request--glass') }}
        </li>
      </ul>
    </div>

    <div class="col-12 jumbotron__slogan jumbotron__slogan--hidden">
      <p class="jumbotron__slogan-paragraph">Superior environment for building interconnected DApps</p>

      <ul class="jumbotron__slogan-list">
        <li>Simple</li>

        <li>Fast</li>

        <li>Decentralized</li>
      </ul>
    </div>

  </div>
</div>
