<div id="top" class="navbar container-fluid">
  <div class="wrapper">
    <ul class="navbar__nav">
      <li>
        <a href="#features">Features</a>
      </li>
      <li>
        <a href="#ido">IDO</a>
      </li>
      <li>
        <a href="#witness">Witness</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>

    {# <div class="navbar__logout">
      <a href="#">Sign In</a>
    </div> #}
  </div>
</div>
