<div class="container section">
  <div class="row section__content pros">
    <div class="col-12">
      <h2 class="pros__heading">
        Everything you expect it to be
      </h2>

      <ul class="col-12 pros__list">
        <li class="pros__item pros__item--cross">
          <h3 class="pros__item-name">Cross-blockchain operability</h3>

          <p class="pros__item-paragraph">Array.IO uses an inter-blockchain communication protocol to allow synchronization between different blockchains</p>
        </li>

        <li class="pros__item pros__item--cube">
          <h3 class="pros__item-name">State machine proxy</h3>

          <p class="pros__item-paragraph">SMPs provide a set of capabilities for safe and convenient communication with other blockchains</p>
        </li>

        <li class="pros__item pros__item--server">
          <h3 class="pros__item-name">Large file support</h3>

          <p class="pros__item-paragraph">In addition to IPFS, Array.IO supports local storage which can be used to store large amounts of data</p>
        </li>

        <li class="pros__item pros__item--key">
          <h3 class="pros__item-name">High cryptographic strength</h3>

          <p class="pros__item-paragraph">
Array.IO keychain brings together different implementations of the Elliptic Curve cryptography to ensure that any key type is supported and managed in a secure way</p>
        </li>
      </ul>
    </div>
  </div>
</div>
