{% set links = datasets.get('site-map') %}

<div class="container-fluid nav">
  <div class="row">
    <div class="col-12">
      <nav class="container">
        <div class="row">
          <div class="col-12">
            <ul class="nav__content">
              {% for link in links %}
              <li class="nav__item">
                <a data-smooth-scroll class="nav__link" href="{{ link.ref }}">{{ link.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
