{% set meta = datasets.get('meta.json') %}

<!doctype html>
<html class="no-js" lang="{{ meta.lang }}">

<head>
  <meta charset="{{ meta.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ meta.title }}</title>
  <meta name="description" content="Superior environment for building interconnected DApps">

  <meta property="og:title" content="Array.IO" />
  {# <meta property="og:url" content="https://array.io/" /> #}
  <meta property="og:site_name" content="array.io" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://ned4ded.github.io/project-lemon-acid/www/assets/imgs/array-io-logo@1200x630.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:description" content="Superior environment for building interconnected DApps" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {% include "partials/navbar.njk" %}

  {% block content %} {% endblock %}

  {% include "partials/footer.njk" %}

  <script src="js/bundle.js" charset="utf-8"></script>

</body>

</html>
