@import 'fonts/base';
@import 'variables';
@import 'bootfix';

body {
  min-height: 100vh;
  margin: 0;

  background-image: url('../assets/imgs/body-bg-1.png'), url('../assets/imgs/body-bg-1.png'), linear-gradient(86deg, #203d60, #101f40);
  background-repeat: no-repeat, no-repeat,repeat;
  background-size: 1366px 752px, 1366px 752px,auto;
  background-position: center 636px, calc(50% + 144px) 1950px, center;
}

.link {
  display: inline-block;

  &__icon {
    margin-right: 7px;
    display: inline-block;

    &--download {
      width: 15px;
      height: 14px;
      background-image: url('../assets/imgs/icon-download.png');
    }
  }

  &--glass {
    width: 100%;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 2px;
    background-color: #2e4774;
    padding: 12px 20px 11px;
    box-shadow: inset 0 0 5px 1px rgba(94, 166, 251, 0.2);
    transition: box-shadow .3s ease-in;

    @include make-ff-nova(14px);

    &:hover {
      transition: box-shadow .05s ease-in;
      box-shadow: inset 0 0 5px 1px rgba(94, 166, 251, 0.35);
    }

    &:active {
      opacity: .9;
    }
  }

  &--default {
    position: relative;
    z-index: 0;

    display: inline-flex;
    align-items: center;

    transition: color .3s ease-in, box-shadow .3s ease-in;
    text-decoration: none;

    color: $color-contrast;
    border-radius: 4px;
    background-image: linear-gradient(to top, $color-light, $color-contrast);
    box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);

    font-size: 24px;
    line-height: 46px;

    &:before {
      position: absolute;
      z-index: -1;
      top: 2px;
      left: 2px;

      display: block;

      width: calc(100% - 6px);
      height: calc(100% - 6px);

      content: '';
      transition: box-shadow .3s ease-in;

      border: 1px solid hsl(0, 0%, 0%);
      border-radius: 3px;
      background-color: hsl(0, 0%, 100%);
      box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0);
    }

    &:active:before {
      transition: box-shadow .1s ease-in;

      box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    }

    &:hover {
      transition: color .1s ease-in, box-shadow .1s ease-in;

      color: darken($color-light, 10%);
    }
  }

  &--default &__icon {
    display: inline-block;

    width: 46px;
    padding: 0 9px 0 11px;

    transition: fill .3s ease-in;

    border-right: 1px solid hsl(0, 0%, 95%);

    fill: $color-contrast;
  }

  &--default:hover &__icon {
    transition: fill .1s ease-in;

    fill: darken($color-light, 10%);
  }

  &--default &__text {
    display: inline-block;

    padding: 0 14px 0 10px;
  }
}

.lining {
  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, rgba(darken($color-dark, 5%), 0.8), rgba(darken($color-dark, 5%), 1));
  opacity: 0;
  transition: opacity .5s ease-in;
  cursor: pointer;

  &[data-modal-state="opening"] {
    display: block;
    animation-name: fade;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  &[data-modal-state="open"] {
    display: block;
    opacity: 1;
  }

  &[data-modal-state="closing"] {
    opacity: 1;
    display: block;
    animation-name: fade;
    animation-direction: reverse;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  &[data-modal-state="closed"] {
    display: none;
  }
}

@import 'blocks/base';
@import 'pages/base';
