@import 'fonts/base';
@import 'variables';
@import 'bootfix';

body {
  min-height: 100vh;
  margin: 0;

  // background-image: url('../assets/imgs/body-bg-1.png'), url('../assets/imgs/body-bg-2.png'), url('../assets/imgs/body-bg-2.png'), linear-gradient(86deg, #031026, #00050c);
  // background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  // background-size: auto;
  // background-position: center 768px, center 1755px, center 2755px, 0 0;

  background-image: linear-gradient(86deg, #203d60, #101f40);
}

.link {
  display: inline-block;

  &--glass {
    text-decoration: none;
    color: white;
    border-radius: 2px;
    background-color: #2e4774;
    padding: 12px 20px 11px;
    box-shadow: inset 0 0 5px 1px rgba(94, 166, 251, 0.2);

    @include make-ff-nova(14px)
  }
}

@import 'blocks/base';
@import 'pages/base';
