@font-face {
	font-family: 'Proxima Nova';
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'), local('Proxima Nova'), local('ProximaNova'), url('../assets/fonts/ProximaNova-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
