{% extends "layout.njk" %}

{% block content %}
<div class="section section--app">
  <div class="container-fluid bg-info">
    <div class="row">
      <div class="col-12">
        <a href="#" class="d-block text-dark pt-2 pb-2 text-center">Don't have <strong>Array.IO CLient</strong> yet? Try it now!</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-7 mb-7">
      <div class="col-12">
        <div class="app">
          <div class="app__logo">
            <img src="assets/imgs/array-logo-bg-dark.png" alt="Array Logotype" width="194" height="200">
          </div>
        </div>
        <h1 class="text-center mt-5 mb-4">The <span class="text-info">Array</span> Platform</h1>
        <p class="text-center"><a href="#" class="btn btn-primary">Join room #0001</a></p>
        <p class="text-center mt-7 text-muted">Don't know where to start? Get a closer look at <a href="index">our platform</a>.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
