{% extends "layout.njk" %}

{% set assets = datasets.get('assets') %}

{% block content %}
  {% include "partials/jumbotron.njk" %}

  {% include "partials/about.njk" %}

  {% include "partials/features.njk" %}

  {% include "partials/ido.njk" %}

  {% include "partials/instruction.njk" %}

  {% include "partials/pros.njk" %}
{% endblock %}
